.contactForm {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: left;
  align-items: flex-start;
  border: solid 1px white;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}
.label {
  display: flex;
  flex-direction: column;
}
.formButton {
  background-color: #242424;
  color: green;
  border: solid 1px white;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  font-weight: bold;
}
.formButton:hover {
  background-color: green;
  color: white;
}
.error {
  color: red;
  font-size: 16px;
  margin-top: 4px;
}
